<li>
  <hr>
  <div class="asker">
    <div class="row">
      <div class="col-sm-3">
        <div class="row">
          <img src={{question.image}}>
        </div>
        <div class="row">
          {{#link-to 'question' question.id}}{{question.author}}{{/link-to}}
        </div>
      </div>
      <div class="col-sm-3">
        asked on {{question.date}}: "{{question.content}}"
      </div>
    </div>
  </div>
</li>
