<h2>Ask me anything is a new blog that will allow users to ask each other for tech advice.</h2>

<p>This site was created in 2017 and written in javascript in the ember framework.  This project will hopefully allow for a collaborative community to exist where people can come together and share ideas and advice with one another.  We are a collaborative and supportive enviroment, and welcome all people to either ask questions or to share their input.</p>
