<div class= "container">
  <header class= "jumbotron">
    <h1>White Fedora Club</h1>
  </header>
    {{outlet}}
  <hr>
  <footer>
    {{#link-to 'contact'}}Our representatives would love to help!{{/link-to}}
    {{#link-to 'about'}}Learn more about this site!{{/link-to}}
  </footer>
</div>
