<h1>Welcome to Ask Me Anything</h1>
<h1>We are the White Fedora club</h1>
<br>
<p>We are a community full of answers waiting for the right question!  Give us a try.</p>

<ul>
  {{#each model as |question|}}
     {{question-tile question=question}}
  {{/each}}
</ul>

{{new-question saveQuestion2="saveQuestion3"}}
